body {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-columns: 1fr;
}

header {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  background-color: aliceblue;
  padding: 8px;
}

.profile-pic {
  border-radius: 50%;
}

.devicon-github-original, .devicon-linkedin-plain {
  text-decoration: none;
  font-size: 1.5rem;
}

.portfolio {
  grid-row: 2;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 4px;
  list-style: none;
}

.project {
  background-color: antiquewhite;
  padding: 4px;
}

footer {
  background-color: aliceblue;
}
