:root {
  --main-bg-color: white;
  --secondary-bg-color: white;
  --accent-color: #7763b2;
}

body {
  display: grid;
  grid-template-rows: .5fr, 1fr, 2fr, 1fr;
  grid-template-columns: 1fr;
  background-color: var(--main-bg-color);
  padding: 1em;
  color: var(--accent-color);
  justify-items: center;
  max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
}

a {
  color: var(--accent-color);
}

header {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  background-color: var(--secondary-bg-color);
  padding: 8px;
  align-items: center;
}

.profile {
  justify-self: center;
}

.profile-pic {
  border-radius: 50%;
  max-width: 200px;
}

.devicon-github-original, .devicon-linkedin-plain {
  text-decoration: none;
  font-size: 1.5em;
}

.portfolio {
  grid-row: 3;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 1em;
  list-style: none;
  padding: 2px;
}

.project {
  background-color: var(--secondary-bg-color);
  padding: 4px;
  /* box-shadow: 1px 5px 3px; */
  border: solid #7763b2;
  border-radius: 1%;
}

footer {
  grid-row: 4;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
